DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv 데이터 출처 : https://bigdata-119.kr/ 데이터 설명 : 소방신고별 신고시각과 출동시각 데이터 컬럼 설명 : 신고일자 (yyyymmdd) / 신고시각 (HHMMSS , 00시 , 00분의 경우 등 생략)

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_1.csv')
df.head(5)

,구급보고서번호,소방서명,환자증상구분명1,신고일자,신고시각,출동일자,출동시각,환자직업명,사고발생장소
0,20211122103M01526,중랑소방서,심계항진,20210330,104800,20210330,105042,무직,집
1,20211111105M00771,노원소방서,복통,20210412,225600,20210412,225827,기타,집
2,20211115104M00864,서초소방서,심계항진,20210303,194100,20210303,194500,직장인,상업시설
3,20211113107M01869,마포소방서,고열,20211225,235400,20211226,331,유아,집
4,20211118102M05820,강동소방서,고열,20211019,12100,20211019,12322,무직,집

각 구급 보고서 별 출동시각과 신고시각의 차이를 ‘소요시간’ 컬럼을 만들고 초(sec)단위로 구하고 소방서명 별 소요시간의 평균을 오름차순으로 정렬 했을때 3번째로 작은 소요시간의 값과 소방서명을 출력하라

In [31]:
df["출동시각"] = pd.to_datetime(df["출동일자"].astype(str) + " " + df["출동시각"].astype(str).str.zfill(6))
df["신고시각"] = pd.to_datetime(df["신고일자"].astype(str) + " " + df["신고시각"].astype(str).str.zfill(6))
df["소요시간"] = (df["출동시각"] - df["신고시각"]).dt.total_seconds()
# df.head()
df.groupby("소방서명")["소요시간"].mean().sort_values(ascending=False)

/var/folders/yb/947db_qj6n187ny4v_8mc1780000gn/T/ipykernel_22634/1306844468.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["출동시각"] = pd.to_datetime(df["출동일자"].astype(str) + " " + df["출동시각"].astype(str).str.zfill(6))
/var/folders/yb/947db_qj6n187ny4v_8mc1780000gn/T/ipykernel_22634/1306844468.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["신고시각"] = pd.to_datetime(df["신고일자"].astype(str) + " " + df["신고시각"].astype(str).str.zfill(6))

소방서명
서초소방서     11743.689289
성북소방서     11097.247677
중랑소방서     10622.950791
마포소방서     10090.510922
중부소방서      9425.454520
강남소방서      9359.999975
구로소방서      9175.221214
광진소방서      8836.363613
강서소방서      8749.367065
관악소방서      8639.999977
동대문소방서     8554.455423
용산소방서      8518.309836
도봉소방서      8388.349492
송파소방서      8054.237267
양천소방서      7799.999979
영등포소방서     7714.285694
강북소방서      7053.061206
종로소방서      7032.558121
은평소방서      6740.425514
서대문소방서     6520.754700
노원소방서      5958.620674
성동소방서      5158.208942
동작소방서      4645.161278
강동소방서      4363.636352
Name: 소요시간, dtype: float64

DataUrl = https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv 데이터 출처 :https://kess.kedi.re.kr/contents/dataset 국내 학교 및 학급 인원 수

학교 세부유형이 일반중학교인 학교들 중 일반중학교 숫자가 2번째로 많은 시도의 일반중학교 데이터만 필터하여
 해당 시도의 교원 한명 당 맡은 학생수가 가장 많은 학교를 찾아서 해당 학교의 교원수를 출력하라

In [57]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_2.csv')
df.head()

               학교명  시도  학교세부유형  일반학급_학생수_계  교원수_총계_계
0  서울대학교사범대학부설고등학교  서울  일반고등학교         689        73
1           가락고등학교  서울  일반고등학교         765        70
2           개포고등학교  서울  일반고등학교         684        69
3           경기고등학교  서울  일반고등학교        1047        96
4           경동고등학교  서울  일반고등학교         529        58

In [72]:
m = df[df["학교세부유형"] == "일반중학교"]
m.groupby("시도")["학교세부유형"].count().sort_values(ascending=False)  #groupby다음에 바로 sort_values를 쓰면 오류가 발생한다, count()나 sum()집계 먼저 해야함
fd = df[(df["시도"] =="서울") & (df["학교세부유형"] == "일반중학교" )] #여기서 리스트는 []로 묶으면 안되고 & 연산자는 () 묶어야함
(fd["일반학급_학생수_계"] / fd["교원수_총계_계"]).sort_values(ascending=False).index[0]
fd.loc[525]

학교명           중동중학교
시도               서울
학교세부유형        일반중학교
일반학급_학생수_계      976
교원수_총계_계         60
Name: 525, dtype: object

In [79]:
# 일반중학교 필터링
m = df[df["학교세부유형"] == "일반중학교"]

# 시도별 일반중학교 개수 집계 및 정렬
city = m.groupby("시도")["학교세부유형"].count().sort_values(ascending=False).index[1]  # 2번째로 많은 시도

# 해당 시도의 일반중학교 데이터 필터링
fd = df[(df["시도"] == city) & (df["학교세부유형"] == "일반중학교")]

# 교원당 학생 수 계산
fd = fd.copy()  # SettingWithCopyWarning 방지
fd["ratio"] = fd["일반학급_학생수_계"] / fd["교원수_총계_계"]

# 결측치 제거 및 정렬
fd = fd.dropna(subset=["ratio"]).sort_values("ratio", ascending=False)

# 교원당 학생 수가 가장 높은 학교의 교원 수 추출
result = fd.iloc[0]["교원수_총계_계"]  # 가장 높은 ratio의 학교
print(result)

33

In [77]:
city = df[df['학교세부유형'] =='일반중학교'].시도.value_counts().index[1]
print(city)
filter_df = df[(df['학교세부유형'] =='일반중학교') & (df['시도'] ==city)].reset_index(drop=True)
filter_df.loc[:,'ratio'] = (filter_df['일반학급_학생수_계'] / filter_df['교원수_총계_계']).values
filter_df = filter_df.sort_values('ratio').dropna()
print(filter_df)
result= filter_df['교원수_총계_계'].values[-1]
print(result)

서울
                학교명  시도 학교세부유형  일반학급_학생수_계  교원수_총계_계      ratio
156         금호여자중학교  서울  일반중학교          86        21   4.095238
223           경서중학교  서울  일반중학교         112        26   4.307692
26          정화여자중학교  서울  일반중학교         125        24   5.208333
208           동북중학교  서울  일반중학교         233        43   5.418605
168           환일중학교  서울  일반중학교         151        27   5.592593
..              ...  ..    ...         ...       ...        ...
296           휘문중학교  서울  일반중학교         814        48  16.958333
211           배재중학교  서울  일반중학교         868        51  17.019608
302         진선여자중학교  서울  일반중학교         997        58  17.189655
214           한영중학교  서울  일반중학교         742        43  17.255814
294  단국대학교사범대학부속중학교  서울  일반중학교         606        33  18.363636

[386 rows x 6 columns]
33

**5대 범죄(절도, 사기, 배임, 방화, 폭행)의 월별 총 발생건수를 총범죄수라고 표현하자. 
18,19년의 각각 분기별 총범죄수의 월평균 값을 구했을때 최대값을 가지는 년도와 분기를 구하고 해당 분기의 최댓값의 사기가 발생한 월의 사기 발생건수를 출력하라

(1분기:1,2,3월 / 2분기 : 4,5,6월 / 3분기 7,8,9월 / 4분기 10,11,12월 , 1분기 월평균 : 1,2,3월의 총범죄수 평균) **

In [80]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/krdatacertificate/e6_p1_3.csv')
df.head(5)

       범죄분류     절도     사기   배임   방화     폭행
0  2018년_1월  13280  25318  656  143  12186
1  2018년_2월  12504  19159  403  135  12087
2  2018년_3월  14733  24509  471  148  13841
3  2018년_4월  14781  23147  414  135  13973
4  2018년_5월  15988  23584  451  127  14117

In [93]:
df["1분기"]= df[df["범죄분류"].isin(["2018년_1월", "2018년_2월", "2018년_3월","2019년_1월", "2019년_2월", "2019년_3월"])]
second = df[df["범죄분류"].isin(["2018년_4월", "2018년_5월", "2018년_6월","2019년_4월", "2019년_5월", "2019년_6월"])]
third = df[df["범죄분류"].isin(["2018년_7월", "2018년_8월", "2018년_9월","2019년_7월", "2019년_8월", "2019년_9월"])]

ValueError: Cannot set a DataFrame with multiple columns to the single column 1분기