In [48]:
import pandas as pd
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/carsprice/X_test.csv")


display(x_train.head())
display(y_train.head())

,carID,brand,model,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,13207,hyundi,Santa Fe,2019,Semi-Auto,4223,Diesel,145.0,39.8,2.2
1,17314,vauxhall,GTC,2015,Manual,47870,Diesel,125.0,60.1,2.0
2,12342,audi,RS4,2019,Automatic,5151,Petrol,145.0,29.1,2.9
3,13426,vw,Scirocco,2016,Automatic,20423,Diesel,30.0,57.6,2.0
4,16004,skoda,Scala,2020,Semi-Auto,3569,Petrol,145.0,47.1,1.0

   carID  price
0  13207  31995
1  17314   7700
2  12342  58990
3  13426  12999
4  16004  16990

In [49]:
x_train.info() #brand, model , fuelType

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   carID         4960 non-null   int64
 1   brand         4960 non-null   object
 2   model         4960 non-null   object
 3   year          4960 non-null   int64
 4   transmission  4960 non-null   object
 5   mileage       4960 non-null   int64
 6   fuelType      4960 non-null   object
 7   tax           4960 non-null   float64
 8   mpg           4960 non-null   float64
 9   engineSize    4960 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 387.6+ KB

In [50]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

x_train["brand"] = le.fit_transform(x_train["brand"])
x_train["model"] = le.fit_transform(x_train["model"])
x_train["fuelType"] = le.fit_transform(x_train["fuelType"])
x_train["transmission"] = le.fit_transform(x_train["transmission"])
x_test["brand"] = le.fit_transform(x_test["brand"])
x_test["model"] = le.fit_transform(x_test["model"])
x_test["fuelType"] = le.fit_transform(x_test["fuelType"])
x_test["transmission"] = le.fit_transform(x_test["transmission"])

In [51]:
from sklearn.model_selection import train_test_split
X = x_train.drop(columns="carID")
y = y_train["price"]

X_train, X_test , y_train, y_test = train_test_split(X,y, test_size = 0.2 , random_state = 42)

In [52]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100, max_depth = 10 , random_state = 42)
rf.fit(X_train,y_train)
pred1 = rf.predict(X_test)

In [53]:
# mse : mean_squared_error / mae : mean_absolute_error  / mape : mean_absolute_percentage_error
# rmse : root_mean_squerd_error -> 패키지 없음 np.sqrt(mean_squared_error) 해줘야함

from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error
import numpy as np
mse = mean_squared_error(y_test,pred1)
mae = mean_absolute_error(y_test,pred1)
mape = mean_absolute_percentage_error(y_test,pred1)
rmse = np.sqrt(mse)

print("mse : ",mse)
print("mae : ",mae)
print("mape : ",mape)
print("rmse : ",rmse)

mse :  12928502.0577308
mae :  2187.036323684265
mape :  0.1052667819759403
rmse :  3595.622624488115

In [54]:
test_X = x_test.drop(columns=["carID"])
pred2 = rf.predict(test_X)
pred2

array([40657.11697564, 24287.09273049, 55057.58007287, ...,
       21756.86445167, 22288.42026156,  3614.53084713])

In [55]:
pd.DataFrame({"pred2":pred2}).to_csv("가격예측", index = False)