전체 데이터 목록 중 4009행 중 3800행을 학습용 데이터로 사용하고 , 나머지를 테스트 데이터로 사용할 수 있도록 데이터를 슬라이싱한다.
학습용 데이터를 활용하여 모델을 모델링하고 , 테스트 데이터를 적용하여 목표변수를 예측하고 , 예측결과를 제출한다. ( 단 , 제출 결과는 테스트 데이터의 개수인 209행이 될 수 있도록 한다)
모델 평가지표는 RMSE로 한다
모델 예측 결과는 price컬럼을 갖고 , 예측결과를 나타내며 , index는 표시 하지 않는다 . 
예측 결과 파일명은 result.csv로 제출한다

RMSE > 회귀모형

In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/JEunJin/BigData_python/master/bigdata_csvfile/used_cars_price_data.csv')
print(df.info()) #결측치는 fuel_type , accident, clean_title , 라벨 인코딩은 model_year를 제외한 나머지 행들 전체를 해야함!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB
None

In [8]:
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [12]:
#데이터 전처리(결측치, 라벨인코딩)
#결측치 먼저
df.fillna(df["fuel_type"].mode()[0], inplace = True)
df.fillna(df["accident"].mode()[0], inplace = True)
df.fillna(df["clean_title"].mode()[0], inplace = True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     4009 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      4009 non-null   object
 10  clean_title   4009 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB
None

In [14]:
#라벨인코딩
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["model"] = le.fit_transform(df["model"])
df["brand"] = le.fit_transform(df["brand"])
df["milage"] = le.fit_transform(df["milage"])
df["fuel_type"] = le.fit_transform(df["fuel_type"])
df["engine"] = le.fit_transform(df["engine"])
df["transmission"] = le.fit_transform(df["transmission"])
df["ext_col"] = le.fit_transform(df["ext_col"])
df["int_col"] = le.fit_transform(df["int_col"])
df["accident"] = le.fit_transform(df["accident"])
df["clean_title"] = le.fit_transform(df["clean_title"])
df["price"] = le.fit_transform(df["price"])
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   int64
 1   model         4009 non-null   int64
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   int64
 4   fuel_type     4009 non-null   int64
 5   engine        4009 non-null   int64
 6   transmission  4009 non-null   int64
 7   ext_col       4009 non-null   int64
 8   int_col       4009 non-null   int64
 9   accident      4009 non-null   int64
 10  clean_title   4009 non-null   int64
 11  price         4009 non-null   int64
dtypes: int64(12)
memory usage: 376.0 KB
None

In [ ]:
#train  3800 , 테스트 209
train = df.iloc[:3800]
test  = df.iloc[3800:]
# print(train.info())
# print(test.info())

from sklearn.model_selection import train_test_split
X = train.drop(columns =["price"])
y = train["price"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2 ,random_state = 42)

#모델링
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators = 120 , max_depth = 10, random_state = 42)
rfr.fit(X_train,y_train)
pred = rfr.predict(X_test)

#RMSE
from sklearn.metrics import root_mean_squared_error
RMSE = root_mean_squared_error(y_test, pred ) #379.61351047194114

#Test 데이터로 예측
test_X = test.drop(columns =["price"]) #원래 시험장에서는 test에 price가 없어야하지만 여기서는 price가 있어서 제거해줘야함! ( 처음에 데이터를 나눴기에 !    )
pred2 = rfr.predict(test_X)
# print(pred2)

#최종제출
pd.DataFrame({"price" : pred2}).to_csv("result.csv", index=False)
result = pd.read_csv("result.csv")
print(result)

           price
0    1068.207011
1     382.501223
2     413.757791
3     921.424924
4     505.605916
..           ...
204   508.541295
205  1112.147551
206   784.719931
207  1209.991457
208   658.235953

[209 rows x 1 columns]