나이 구간 나누기
basic1 데이터 중 'age'컬럼 이상치를 제거하고, 동일한 개수로 나이 순으로 3그룹으로 나눈 뒤 각 그룹의 중앙값을 더하시오
(이상치는 음수(0포함), 소수점 값)
data: basic1.csv
오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작

In [25]:
import pandas as pd
import numpy as np
customer = pd.read_csv('/Users/jochaeyeon/Downloads/basic1.csv')
customer.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [26]:
customer.shape

(100, 8)

In [27]:
customer_cleaned = customer[(customer['age'] > 0) & (customer['age'] == customer['age'].astype(int))]

In [28]:
customer_cleaned.shape
customer_cleaned.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [32]:
#구간 분할
customer_cleaned["range"] = pd.qcut(customer_cleaned["age"], q=3 , labels =["group1", "group2", "group3"])

/var/folders/yb/947db_qj6n187ny4v_8mc1780000gn/T/ipykernel_4111/1617740338.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_cleaned["range"] = pd.qcut(customer_cleaned["age"], q=3 , labels =["group1", "group2", "group3"])

In [ ]:
customer_cleaned["range"].value_counts()

range
group1    30
group2    30
group3    30
Name: count, dtype: int64

In [35]:
customer_cleaned.head()
g1_median = customer_cleaned[customer_cleaned["range"] == "group1"]["age"].median()
g2_median = customer_cleaned[customer_cleaned["range"] == "group2"]["age"].median()
g3_median = customer_cleaned[customer_cleaned["range"] == "group3"]["age"].median()

In [37]:
print(g1_median+ g2_median+ g3_median)

165.0