주어진 데이터(basic2.csv)에서 "pv"컬럼으로 1일 시차(lag)가 있는 새로운 컬럼을 만들고(예: 1월 2일에는 1월 1일 pv데이터를 넣고, 1월 3일에는 1월 2일 pv데이터를 넣음),새로운 컬럼의 1월 1일은 다음날(1월 2일)데이터로 결측치를 채운 다음, Events가 1이면서 Sales가 1000000이하인 조건에 맞는 새로운 컬럼 합을 구하시오¶

In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv('/Users/jochaeyeon/Downloads/basic2.csv')
df.head()

         Date     Sales      PV      UV  Events
0  2022-01-01  22711525  397349  4421.0       1
1  2022-01-02     36779    3969  2289.0       0
2  2022-01-03  13943875  373890     NaN       1
3  2022-01-04   8088593  142054  2157.0       0
4  2022-01-05   2395374  190684     NaN       0

In [13]:
df["lag"] = df["PV"].shift(1)
df.head()

         Date     Sales      PV      UV  Events       lag
0  2022-01-01  22711525  397349  4421.0       1       NaN
1  2022-01-02     36779    3969  2289.0       0  397349.0
2  2022-01-03  13943875  373890     NaN       1    3969.0
3  2022-01-04   8088593  142054  2157.0       0  373890.0
4  2022-01-05   2395374  190684     NaN       0  142054.0

In [14]:
df['lag'] = df['lag'].fillna(method = 'bfill')
df.head()

/var/folders/yb/947db_qj6n187ny4v_8mc1780000gn/T/ipykernel_4788/3963941630.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['lag'] = df['lag'].fillna(method = 'bfill')

         Date     Sales      PV      UV  Events       lag
0  2022-01-01  22711525  397349  4421.0       1  397349.0
1  2022-01-02     36779    3969  2289.0       0  397349.0
2  2022-01-03  13943875  373890     NaN       1    3969.0
3  2022-01-04   8088593  142054  2157.0       0  373890.0
4  2022-01-05   2395374  190684     NaN       0  142054.0

In [15]:
new = (df["Events"] == 1 )& (df["Sales"] <= 1000000)
df = df[new]

In [16]:
df["lag"].sum()

1894876.0