In [2]:
import pandas as pd #e-commerce 배송의 정시 도착여부 (1: 정시배송 0 : 정시미배송)
#데이터 로드
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/y_train.csv")
x_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/shipping/X_test.csv")


display(x_train.head())
display(y_train.head())

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,6045,A,Flight,4,3,266,5,high,F,5,1590
1,44,F,Ship,3,1,174,2,low,M,44,1556
2,7940,F,Road,4,1,154,10,high,M,10,5674
3,1596,F,Ship,4,3,158,3,medium,F,27,1207
4,4395,A,Flight,5,3,175,3,low,M,7,4833

     ID  Reached.on.Time_Y.N
0  6045                    0
1    44                    1
2  7940                    1
3  1596                    1
4  4395                    1

In [3]:
#라벨 인코딩
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
x_train["Warehouse_block"] = le.fit_transform(x_train["Warehouse_block"])
x_train["Mode_of_Shipment"] = le.fit_transform(x_train["Mode_of_Shipment"])
x_train["Customer_care_calls"] = le.fit_transform(x_train["Customer_care_calls"])
x_train["Product_importance"] = le.fit_transform(x_train["Product_importance"])
x_train["Gender"] = le.fit_transform(x_train["Gender"]) 
x_test["Warehouse_block"] = le.fit_transform(x_test["Warehouse_block"])
x_test["Mode_of_Shipment"] = le.fit_transform(x_test["Mode_of_Shipment"])
x_test["Customer_care_calls"] = le.fit_transform(x_test["Customer_care_calls"])
x_test["Product_importance"] = le.fit_transform(x_test["Product_importance"])
x_test["Gender"] = le.fit_transform(x_test["Gender"])

In [4]:
#데이터 분할
from sklearn.model_selection import train_test_split
X = x_train
y = y_train["Reached.on.Time_Y.N"]   
X_train, X_test,y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [5]:
#모델링(랜덤포레스트)
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

In [6]:
#성능평가
from sklearn.metrics import accuracy_score , f1_score, recall_score, roc_auc_score ,precision_score
ac = accuracy_score(y_test,y_pred)
fl = f1_score(y_test,y_pred)
rc = recall_score(y_test,y_pred)
pr = precision_score(y_test,y_pred)
roc = roc_auc_score(y_test,y_pred)
print("정확도 : ", ac)
print("f1 score : ", fl)
print("recall score : ", rc)
print("precision score : ", pr)
print("roc_auc_score : ", roc)

정확도 :  0.6681818181818182
f1 score :  0.6871428571428572
recall score :  0.6198453608247423
precision score :  0.7708333333333334
roc_auc_score :  0.6784888568829593

In [7]:
#테스트 데이터 예측
x_test.drop(columns = ["ID"])
pred2 = rf.predict(x_test)
print(pred2)

[0 0 0 ... 0 0 1]

In [10]:
#제출
pd.DataFrame({"pred2" : pred2}).to_csv("submission.csv", index = False)